/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter {
    background: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#from-currency{
    cursor: pointer;
}

#to-currency{
    cursor: pointer;
}

#convert-btn{
    cursor: pointer;
    background-color: rgb(186, 39, 39);
    border-color: rgb(186, 39, 39);
}

#result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
